<h1>{{title}}</h1>
<h2>Welcome {{loggedUser.firstName}} {{loggedUser.lastName}}</h2>
<table class="table">
    <tr>
        <td>Name</td>
        <td>Go to profile</td>
        <td>Tasks</td>
    </tr>
    {{#each allUsers}}
    <tr>
        <td>
            <img src="/images/{{this._id}}.png" width="40" />
            {{this.firstName}} {{this.lastName}}
        </td>
        <td>
            <a href="/users/profile/{{this.id}}">Go to profile</a>
        </td>
        <td>
            <a href="/users/tasks/{{this.id}}">Go to taks</a>
        </td>
    </tr>
    {{/each}}
</table>
